<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Create task</h3>
<form action="" method="post">
    {% csrf_token %}
    <p>
       task: <input type="text" name="task">
    </p>
    <p>
        status:
    <select name="status">
        {% for select in selection %}
            <option value="{{ select.0 }}">{{ select.1 }}</option>
        {% endfor %}
    </select>
    </p>
    <p>
        description: <textarea name="text" id="" cols="20" rows="4"></textarea>
    </p>

    <p>
       finish data: <input type="date" name="date_deadline">
    </p>
<p>
    <input type="submit" value="create">
</p>
</form>
<p><a href="{% url "index" %}">Back</a></p>
</body>
</html>