{% extends "base.html" %}

{% block title %}
Create new task
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<h3>Create task</h3>
<form action="{% url "task_create" %}" method="post">
    {% csrf_token %}
    <p>
       task: <input type="text" name="task">
    </p>
    <p>
        status:
    <select name="status">
        {% for select in selection %}
            <option value="{{ select.0 }}">{{ select.1 }}</option>
        {% endfor %}
    </select>
    </p>
    <p>
        description: <textarea name="description" id="" cols="20" rows="4"></textarea>
    </p>
    <p>
       finish data: <input type="date" name="date_deadline">
    </p>
<p>
    <input type="submit" value="create">
</p>
</form>
{% endblock %}