<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>Task</h3>
<p><label for="task">task: </label>
<u>{{ task.task }}</u></p>
<p><label for="status">status: </label>
<u>{{ task.status }}</u></p>
<p><label for="finish date">finish date: </label>
<u>{{ task.date_deadline }}</u></p>
<p>
    <label for="text">task description: </label>
    <u>{{ task.text }}</u>
</p>
<br/>
<p><a href="/">Back</a></p>
<a href="/delete?pk={{ task.pk }}">Delete</a>
</body>
</html>