{% extends "base.html" %}

{% block title %}Task details{% endblock %}

{% block nav %}
<li class="nav-item">
    <a href="{% url "delete" task.pk %}" class="nav-link">Delete</a>
</li>
{% endblock %}

{% block content %}
<h3>Task</h3>
<p><label for="task">task: </label>
<u>{{ task.task }}</u></p>
<p><label for="status">status: </label>
<u>{{ task.status }}</u></p>
<p><label for="finish date">finish date: </label>
<u>{{ task.date_deadline }}</u></p>
<p>
    <label for="text">task description: </label>
    <u>{{ task.description }}</u>
</p>
{% endblock %}
